body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: white;
}

/* HERO (PORTADA) */
.hero {
    height: 100vh;
    background: url("images/logo.jpg") center/cover no-repeat;
    position: relative;
}

/* CAPA OSCURA PARA QUE SE VEA EL TEXTO */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    font-size: 3.5rem;
    margin: 0;
}

.overlay p {
    font-size: 1.3rem;
    margin: 15px 0;
}

/* BOTÓN */
button {
    padding: 12px 25px;
    background-color: #ff4d00;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #ff2a00;
}

/* SECCIÓN */
section {
    padding: 60px;
    text-align: center;
}